body {
    margin: 0;
    padding: 0;
    background: url(../img/wallpaper.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .carousel-item {
    text-align: center;
  }
  
  .carousel-item img {
    width: 600px;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    padding: 10px 20px;
    border-radius: 15px;
  }
  