body {
    margin: 0;
    padding: 0;
    background: url(../img/wallpaper.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  /* Para la transparencia del Jumbotron */
.bg-light {
    background: rgba(255, 255, 255, 0.5) !important; 
    backdrop-filter: blur(10px); 
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  /* Transparencia de las cartas */
  .card {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  /* Hover en cartas */
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  }
  